<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">登录</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">授信<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/credit_total">授信总量</a></li>
                        <li><a href="/e_commerce/zccf">中驰车福</a></li>
                        <li><a href="/e_commerce/cyp">车优品</a></li>
                        <li><a href="/e_commerce/btl">巴图鲁</a></li>
                        <li><a href="/e_commerce/hks">好快省</a></li>
                        <li><a href="/e_commerce/yc">亿采</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">逾期<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/overdue_dashboard">逾期总量</a></li>
                        <li><a href="/overdue_e_commerce/zccf">中驰车福</a></li>
                        <li><a href="/overdue_e_commerce/cyp">车优品</a></li>
                        <li><a href="/overdue_e_commerce/btl">巴图鲁</a></li>
                        <li><a href="/overdue_e_commerce/hks">好快省</a></li>
                        <li><a href="/overdue_e_commerce/yc">亿采</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">逾期提醒<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="memu">
                        <li><a href="/overdue_alert_table/3">3天提醒</a></li>
                        <li><a href="/overdue_alert_table/7">7天提醒</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">下单<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/order_dashboard">下单首页</a></li>
                        <li><a href="/echarts_map">地图</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">详情<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/detail_table">授信详情表</a></li>
                        <li><a href="/overdue_detail_table">逾期详情表</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">后续开发中...</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">日报<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/report/daily">日报</a></li>
                        <li><a href="/report/week">周报</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>